body {
	background-color: black;
	color: #177a4d;
	/*text-align: center;*/
}

.landing {
	background: url("images/pwp-backdrop.png") no-repeat center center fixed;
	padding: 10rem;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}