body {
	background-color: black;
	color: #177a4d;
}

.landing {
	background: url("images/pwp-backdrop.png") no-repeat center center fixed;
	margin-top: 10px;
	min-height: 70vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text-center {
	text-align: center;
}
.card {
	background-color: black;
}

.contact-pic{
	max-height: 100%; position: absolute;
}

.foot {
	max-width: 80%;
}

.h1-padding{
	padding-top: 25vh;
}

.carousel-inner img{
position: relative;
overflow:hidden;
height: 90vh;
max-width: 70vw;
padding-left: 20%;
}